<!DOCTYPE html>
{%extends 'BASE/base.html'%}
{% load static %}
{% block content %}
 <div class="container contact">
  <div class="container">
    <div class="text-center font-weight-bold h2" style="margin-top:10px; margin-bottom:15px">Detailed View</div>
    <div >
        <table class="table">
          <tr>
            <td class="col-6 font-weight-normal">Email:</td>
            <td class="col-6 text-muted">{{data.0.personal_details.email}}</td>
          </tr>
          <tr>
            <td class="col-6 font-weight-normal">Phone Number:</td>
            <td class="col-6 text-muted">{{data.0.personal_details.phone.mobile_number}}</td>
          </tr>
          <tr>
            <td class="col-6 font-weight-normal">Address Line:</td>
            <td class="col-6 text-muted">{{data.0.address_details_permanent.address_line}}</td>
          </tr>
          <tr>
            <td class="col-6 font-weight-normal">City:</td>
            <td class="col-6 text-muted">{{data.0.address_details_permanent.city}}</td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>
{% endblock content %}
