{% extends 'homepage/includes/base.html' %}
{% load static %}
{% block title %}Success{% endblock %}
{% block content %}
{%if checkuserPaid %}
<div class="text-center mt-5 pt-5">
<img src="{% static 'assets/img/img.png'  %}" alt="" class="img-fluid img-responsive" style="width: 200px;height: 200px;">
<h2 class="alert  bg-success mt-5">Thank you! Your payment has been received</h2>
<a href="{% url 'member_list' bookingid %}" class="btn btn-info">GO TO EMPLOYEES LIST</a>

</div>
{%else%}
<div class="text-center mt-5 pt-5">
<h2 class="alert  bg-danger mt-5">Your Payment has been Failed</h2>
<a href="{% url 'employer_managebooking'  %}" class="btn btn-info">GO Back to the Payment Page</a>
</div>
{%endif%}
{% endblock %}
