{% extends 'BASE/base.html' %}

{% load static %}
{% block content %}
    <!-- Hero Area Start-->
    <div class="slider-area">
        <div
          class="single-slider section-overly slider-height2 d-flex align-items-center"
          data-background="{% static 'assets/img/hero/about.jpg' %}"
        >
          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <div class="hero-cap text-center">
                    
                  <h2><strong>Login</strong></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Area End -->
      <!--================Blog Area =================-->
      <section class="blog_area section-padding">
        <div class="container">
           
           <div class="modal-dialog" role="document">
             <div class="modal-content">
                {% include 'BASE/messages.html' %}
               <div class="modal-header">
              
                 <h2 class="modal-title" id="ModalLabel">
                    
                   <strong>Login</strong>
                 </h2>
                 
               </div>
               <div class="modal-body">
                 <form method="post" action="{% url 'employer_dologin' %}">
                  {% csrf_token %}
                   <div class="form-group">
                     <input
                       class="form-control"
                       type="text"
                       name="username"
                       placeholder="Pan Number"
                     />
                   </div>
                   <div
                     class="form-group input-group"
                     id="show_hide_password"
                   >
                     <input
                       class="form-control"
                       type="text"
                       placeholder="Mobile No."
                       name="password"
                       
                     />
                   </div>
                   <div class="modal-footer">
                    <button type="submit" class="btn btn-success">
                      Login
                    </button>
                  </div>
                 </form>
               </div>
               
             </div>
           </div>
      </section>
      <!--================Blog Area =================-->
{% endblock content %}