{% extends 'BASE/base.html' %}
{% block content %}
<center class="my-5">
    
<div style="width:100%; height:70vh; justify-content:center; align-items:center" id="form-3">
    <div class="card text-center shadow-lg border-0"  style="max-width: 23rem">
      <div class="card-header bg-success text-white fs-2 fw-bolder">
        CLCUP
      </div>
      <div class="card-body">
        <i class="fa-solid fa-circle-check fa-4x text-success mt-3"></i>
        <h5 class="card-title text-success fw-bolder mb-3 mt-1">
          Thank you your Payment has been succeeded.
        </h5>
      </div>
    </div>
  </div>
</center>
{% endblock content %}