{% load static %}
<footer>
  <!-- Footer Start-->
  <div class="footer-area footer-bg footer-padding">
    <div class="container">
      <div class="row d-flex justify-content-between" style="margin-top: -10%;">
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
          <div class="single-footer-caption mb-50">
            <div class="single-footer-caption mb-30">
              <div class="footer-tittle">
                <h4>About Us</h4>
                <div class="footer-pera">
                  <p>
                    Affordable deals Private Limited. Estd. December 2016
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% comment %} <img src="{% static 'assets/img/logo/foter3.png' %}" alt=""> {% endcomment %}
        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
          <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
              <h4>Contact Info</h4>
              <ul>
                <li>
                  <h5 class="text-white">Registered Office</h5>
                </li>
                <li>
                  7945, 1st Floor, Katra Maliwara, Dinanath Road, 
                  Roshnara Road,North Delhi, Delhi : 110007
                </li>
              </ul>
            </div>
            <hr>
            <div class="footer-tittle">
              <ul>
                <li>
                  <h5 class="text-white">Corporate Office</h5>
                </li>
                <li>
                  Affordable Deals Private Limited
                  515 Patpargunj Industrial Area, 1st Floor, East Delhi, Delhi 110092 
                </li>
                 <li><a href="#">Phone : +91 9810102099</a></li>
                <li><a href="#">Website : www.affordabledeals.group</a></li>
              </ul>
            </div>
          </div>
        </div>

      
      </div>
      <!--  -->
      <div class="row footer-wejed justify-content-between" style="margin-top: -10%;">
        <div class="col-xl-4 col-lg-4 col-md-5 col-sm-7">
          <div class="row">
            <div class="col-md-5">

              <select name="links" id="" size="1" onchange="window.location.href=this.value;">
                <option
                  style="  background: #fff;color: orangered !important;display: inline-block;padding: 10px 14px;font-family: Muli, sans-serif;font-size: 15px;font-weight: bold;border: 0;border: 1px solid white;letter-spacing: 3px;text-align: center;color: #fb246a;text-transform: uppercase;cursor: pointer;">
                  Employer</option>
                <option value="{% url 'employer_register' %}">Registration</option>
                <option value="{% url 'employer_login' %}">Login</option>
              </select>
            </div>


            <div class="col-md-2">
              <p></p>
            </div>
            <div class="col-md-5">
              <select name="links" id="" size="1" onchange="window.location.href=this.value;">
                <option
                  style="  background: #fff;color: orangered !important;display: inline-block;padding: 10px 14px;font-family: Muli, sans-serif;font-size: 15px;font-weight: bold;border: 0;border: 1px solid white;letter-spacing: 3px;text-align: center;color: #fb246a;text-transform: uppercase;cursor: pointer;">
                  INSTRUCTOR</option>
                 <option value="{% url 'INSTRUCTOR_Register' %}">Registration</option>
                <option value="{% url 'instructor_login' %}">Login</option>
              </select>
            </div>
          </div>
        </div>
       

        
      </div>
    </div>
  </div>

  
  <!-- footer-bottom area -->
  <div class="footer-bottom-area footer-bg">
    <div class="container">
      <div class="footer-border">
        <div class="row d-flex justify-content-between align-items-center">
          <div class="col-xl-10 col-lg-10">
            <div class="footer-copy-right">
              <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script>
                All rights reserved
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2">
            <div class="footer-social f-right">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fas fa-globe"></i></a>
              <a href="#"><i class="fab fa-behance"></i></a>
              <a id="google_element"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End-->
</footer>
