{% for message in messages %}
    {% if message.tags == 'error' %}
    
    <div class="alert alert-danger" role="alert">
        {{message}}
      </div>
    {% endif %}

    {% if message.tags == 'warning' %}
        
    <div class="alert alert-warning" role="alert">
        {{message}}
      </div>
    {% endif %}
{% endfor %}

{% for message in messages %}
    {% if message.tags == 'success' %}
    <div class="alert alert-success" role="alert">
        {{message}}
      </div>
{% comment %} 
    <div class="alert alert-inv alert-inv-success alert-wth-icon alert-dismissible fade show" role="alert">
        <span class="alert-icon-wrap"><i class="zmdi zmdi-check-circle"></i></span> {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div> {% endcomment %}


    {% endif %}
{% endfor %}
 