
{% extends 'homepage/includes/base.html' %}
{% load static %}
{% block title %}Employee Details{% endblock %}

{% block content %}
<div class="container">

<h5 class="" style="text-align:center; font-size:30px">UPCLC </h5>
<h6 class="" style="text-align:center;margin-bottom:30px">Employee Details</h6>
<table class="table">
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>No of Employees Required</td>
      <td>{{count}}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>No of Employees Available</td>
      <td>{{membercount}}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Salary per Employee</td>
      <td>{{monthly_offered}}</td>
    </tr>
  </tbody>
</table>
{% if membercount == 0 %}
<div style="text-align:center">
<button class="btn btn-danger" disabled>No employees available right now</button>
<a href="{%url 'employer_managebooking'%}">
  <button type="button" class="btn btn-primary"  style="width: 7rem">Return</button>
  </a>
</div>
{% else %}
<div style="text-align:center">
  <a href="{% url 'employer_dobooking' id bookingid %}"><button type="button" class="btn btn-warning">Go to the payment Page</button></a>
  <a href="{%url 'employer_managebooking'%}">
    <button type="button" class="btn btn-primary"  style="width: 7rem">Return</button>
    </a>
</div>
{% endif %}
</div>
</div>
{% endblock %}

