<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>21-07-2022</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center;">
            <div class="card text-center shadow-lg border-0"style="max-width: 23rem;">
                <div class="card-header bg-success text-white fs-2 fw-bolder ">
                  CLCUP
                </div>
                <div class="card-body">
                    <i class="fa-solid fa-circle-check fa-4x text-success mt-3"></i>
                  <h5 class="card-title text-success fw-bolder mb-3 mt-1">Registration Success!</h5>
                  <p class="card-text">Your submission is received and we will contact you soon</p>
                  <a href="#" class="btn btn-primary d-grid gap-2 col-6 mx-auto fs-5 rounded-pill">close</a>
                </div>
              </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

</body>

</html>