{% extends 'HOD/includes/base.html' %}
{% block content %}
<div class="hk-wrapper hk-vertical-nav">
<div class="hk-pg-wrapper">
    <nav class="hk-breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-light bg-transparent p-4">
            <li class="breadcrumb-item"><a href="#">City</a></li>
            
        </ol>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
               
              
                
                <section class="hk-sec-wrapper">
                    
                    <h5 class="hk-sec-title">Edit City  | City Name : {{ city.city }} |  #ID : {{ city.id }}</h5>
                    {% include 'HOD/includes/messages.html' %}
                    <hr>
                    
                    <div class="row">
                        <div class="col-sm">
                            <form class="needs-validation" novalidate method="POST" action="{% url 'edit_city_save' %}">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-4 mb-15">
                                        <label for="validationTooltip01">City Name</label>
                                        <input type="text" class="form-control" id="validationTooltip01" placeholder="City name" name="city" value="{{city.city}}" required>
                                        <input type="text"  name="city_id" value="{{ city.id }}" hidden  >
                                        <div class="valid-tooltip">
                                            Looks good!
                                        </div>
                                    </div>
                                 
                                 
                                </div>
                              
                                <button class="btn btn-primary" type="submit">Update</button>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
</div>



{% endblock content %}